*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

app/google-services.json
ItcMyFirebaseAuth/app/google-services.json
cropMaterial/androidCropKeras/app/src/main/assets/inception_v3.tflite
cropMaterial/androidCropKeras/app/google-services.json
Keras/inception_v3_face.h5
cropMaterial/androidCropKeras/app
